#footer {
    background-color: #000;
    color: #fbfbfb;
    padding: 32px 0;
}

.footer__title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #fff;
}
.footer__heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-weight: 700;
}
.footer__info {
    padding-bottom: 6px;
}

.footer__tel,
.footer__email{
    font-size: 1.4rem;
    color: #fbfbfb;
}
.footer__tel:hover,
.footer__email:hover{
    color: aqua;
}

.footer__location{
    font-size: 1.4rem;
}
.footer__fl-link {
    text-decoration: none;
    background-color: transparent;
    color: unset;
}

.footer__fl-icon {
    font-size: 5rem;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
}
.footer__fl-icon:hover {
    color: #1877f2;
}

@media (max-width: 1151px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}