<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col hide-on-mobile-tablet">
                <span class="footer__title">contact us</span>
            </div>
            <div class="col">
                <h2 class="footer__heading">talk to us</h2>
                <div class="footer__info">
                    <span style="font-size: 1.4rem;">Tel: </span>
                    <a class="footer__tel" href="tel:+84 907 293 947">+84 907 293 947</a><br>
                </div>
                <div class="footer__info">
                    <span style="font-size: 1.4rem;">Email: </span>
                    <a class="footer__email" href="mailto:info@cozwork.com">info@cozwork.com</a>
                </div>
            </div>
            <div class="col">
                <h2 class="footer__heading">head quarter</h2>
                <span class="footer__location">
                    12 Nguyen The Loc Street, Ward 12, Tan Binh District, Ho Chi Minh city
                </span>
            </div>
            <div class="col">
                <h2 class="footer__heading">follow us</h2>
                <a href="https://www.facebook.com/cozwork/" target="blank" class="footer__fl-link">
                    <i class="icon ion-logo-facebook footer__fl-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>
