<div class="container">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="3"></button>
        </div>
      
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/272058364_496787638569618_2285380287385131864_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=lfw1cUTt2FcAX-PwMA1&_nc_ht=scontent.fsgn5-6.fna&oh=00_AT87k6gTTjvY9jud76I8q9zRGnMiQ7tXQS9ywIVFByd5Ww&oe=6206AF2E" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/272177104_498574178390964_4933595470154371782_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=RZHrkmjXEeEAX_3Liim&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT_WPJx2rhYAmr97e9znH6CEzDCBlEkTaAcHEYHOuAvK8Q&oe=62060A3D" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/254972523_455981625983553_1631332666356912094_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=ZF4mcIMTyDEAX-t2mZy&_nc_ht=scontent.fsgn5-14.fna&oh=00_AT80Ex2OQ8l_hJymDOktZFTEqSss6zd8hnmhIWGtL-KHvg&oe=6204F553" alt=" York" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.6435-9/165823153_318593146389069_1704318240925887277_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=e3f864&_nc_ohc=QqnTf9ffwUIAX_rKI6g&_nc_ht=scontent.fsgn5-13.fna&oh=00_AT_AnGjtAz5wB2m0NUAbzCAdXixXzaDNvm_ldDwVB795ig&oe=6227304C" alt=" York" class="d-block w-100">
          </div>
        </div>
      
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<div class="home__content">
    <div class="home__content-wrap">
        <h2 class="home__content__title">
            LET’S BUILD THE NEXT BIG THING, TOGETHER.
        </h2>
        <p class="home__content__description">
            At COZ Work, what we do is more than just a job.<br>
            It's a calling: We ask and think along with clients. Consult and collaborate. Build. Not just to do something better, but to attempt things you've never thought possible.
        </p>
        <div class="home__content__btns">
            <a href="/what-we-do#putClients" class="btn put-btn">Put the client first.</a>
            <a class="btn get-btn">get in touch</a>
        </div>
    </div>
    <div class="home__benefits">
      <h2 class="home__benefits__title">TOP BENEFITS OF WORKING WITH US</h2>
      <ul class="home__benefits-wrap">
        <li>
          <ul class="home__benefits__list">
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">1</span>
              <span class="home__benefits__item-des">Highest quality, on-time and within budget delivery</span>
            </li>
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">2</span>
              <span class="home__benefits__item-des">Co-creative and Innovative Solutions</span>
            </li>
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">3</span>
              <span class="home__benefits__item-des">High responsiveness and skillful personnel with international experience</span>
            </li>
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">4</span>
              <span class="home__benefits__item-des">Well-established strategy to keep knowledge retention</span>
            </li>
          </ul>
        </li>
        <li>
          <ul class="home__benefits__list">
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">5</span>
              <span class="home__benefits__item-des">Good security policies and training strategies for IP Protection</span>
            </li>
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">6</span>
              <span class="home__benefits__item-des">Flexible working models and partnering strategies for long-term</span>
            </li>
            <li class="home__benefits__item">
              <span class="home__benefits__item-num">7</span>
              <span class="home__benefits__item-des">Modern IT infrastructure and foundation for scalability projects and stable growth</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>