<div class="container">
    <div class="contact__top-content">
        <img src="https://www.s3corp.com.vn/media/64748/contact_2.jpg
        " alt="">
        <h2>contact info</h2>
    </div>

    <div class="contact__breadcrumbs">
        <a routerLink="/">Home</a>
        <span>></span>
        <span>Contact Us</span>
    </div>

    <p class="contact__intro">
        We are always glad to hear your comments regarding our services. Whether you have any questions, or wish to get a quote for your project, or require further information about what we can offer you, please do not hesitate to contact us.
    </p>

    <ul class="contact__content-block">
        <li>
            <ul class="contact__content-list">
                <li class="contact__content-item">
                    <div class="contact__content-item__icon">
                        <i class="icon ion-md-call"></i>
                    </div>
                    <span class="contact__content-title">Vietnam: </span>
                    <a href="tel: +84 907 293 947" class="contact_content-link">+84 907 293 947</a>
                </li>
                <li class="contact__content-item">
                    <div class="contact__content-item__icon">
                        <i class="icon ion-md-mail"></i>
                    </div>
                    <ul>
                        <li class="contact__content-item__sub">
                            <span class="contact__content-title">General: </span>
                            <a href="mailto:info@cozwork.com" class="contact_content-link">info@cozwork.com</a>
                        </li>
                        <li class="contact__content-item__sub">
                            <span class="contact__content-title">Careers: </span>
                            <a href="mailto:hr@cozwork.com" class="contact_content-link">hr@cozwork.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <ul class="contact__content-list">
                <li class="contact__content-item">
                    <div class="contact__content-item__icon">
                        <i class="icon ion-md-pin"></i>
                    </div>
                    <span class="contact__content-title">Head Quarter</span><br>
                    <span class="contact__content-address">
                        12 Nguyen The Loc Street,<br>
                        Ward 12, Tan Binh District,
                    </span>                
                </li>
            </ul>
        </li>
    </ul>

    <div class="contact__bottom-content">
        <h3 class="contact__bottom-content__heading">
            REQUEST A QUOTE OR JUST GET IN TOUCH
        </h3>
        <form id="contact__form" action="" method="post">
            <ul class="contact__form__personal-info">
                <li>
                    <p class="contact__form__title">Name:</p>
                    <input id="name" name="name" type="text">
                </li>
                <li>
                    <p class="contact__form__title">Company:</p>
                    <input id="company" name="company" type="text">
                </li>
                <li>
                    <p class="contact__form__title">Email:</p>
                    <input id="email" name="email" type="email" required>
                </li>
                <li>
                    <p class="contact__form__title">Phone:</p>
                    <input id="phone" name="phone" type="tel" required>
                </li>
                <li>
                    <p class="contact__form__title">Contact With:</p>
                    <select id="ContactWith" name="ContactWith" class="contact__select-box">
                        <option value="info@cozwork.com">General info@cozwork.com</option>
                        <option value="hr@cozwork.com">Careers hr@cozwork.com</option>
                    </select>
                </li>
            </ul>
            <div class="contact__form__message">
                <p class="contact__form__title">Your Message:</p>
                <textarea name="yourMessage" id="yourMessage" cols="30" rows="10" required></textarea>
                <button type="submit" class="btn btn-primary contact__form__submit-btn">Send</button>
            </div>
        </form>
    </div>
</div>
